{% extends "acak_kata_apps/base.html" %}
{% load static %}
{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}
{% block js_block %}
	<script src = "{% static 'js/index.js' %}"></script>
{% endblock %}

{% block body_block %}
	<div id="acak_kata_box">
		<h1 id="countdown"></h1>
		<h1 id="point">Point anda : 0</h1>
		<h1 id="judul">TEBAK KATA<h1>
		<h1 id="permuted_kata">{{ hasil_permutasi_kata }}</h1>
		<!--<h1 id="kata_asli">{{kata_asli}}</h1>-->
		<input type='text' name="input_kata" id="input_kata">
		<input type="button" value="TEBAK" id="button_tebak">
		<input type="hidden" value="{{id_kata}}" id="id_kata">
		<input type="hidden" value="{{difficulty.getCountDown}}" id="choosen_countdown">
		<input type="hidden" value="{{selected_difficulty}}" id="selected_difficulty">
		<div id="result_box">
			<h5 id="result"></h5>
			<h5 id="sisa_kesempatan">Kesempatan menjawab tinggal 3 kali </h5>
		</div>
	</div>
{% endblock %}
